*, *:before, *:after { box-sizing: border-box }
body{ font: 14pt system-ui; width:90%; max-width: 20em; margin: 2em auto }
h1, form{ text-align: center }
a{ color: #e52ca8; text-decoration: none }
input, button {
  padding:.5em;
  margin:.5em 0 0 0;
  border-radius: 10px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.08);
  font: inherit;
  width: 100%;
}
button { background-color: #ffbbb8; cursor: pointer }

/* App styles */
.no-tasks{ opacity: 0.7; text-align: center  }
li{ margin: .25em; list-style: none; }
li.finished_0::before { content: '📝 ' }
li.finished_1::before { content: '✅ ' }
li.finished_1{ font-weight: bold }
